{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col mb-4 p-0">
                <h1 class="pb-4 text-center border-bottom">{% if pageTitle is defined and pageTitle %}{{ pageTitle }}{% else %}Create Service{% endif %}</h1>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-md-8">
                <form action="{{ path('api-service-create') }}" method="post" id="create-service-form" class="text-center">
                    <div class="form-group text-center text-md-left">
                        <label for="service_name">Name</label>
                        <input type="text" class="form-control text-left" name="service_name" id="v" placeholder="Enter service name" required>
                    </div>
                    <div class="form-group text-center text-md-left">
                        <label for="client_id">Client: </label>
                        <select class="form-control text-left" name="client_id" id="client_id" required>
                            {% if allClients is defined and allClients %}
                                {% for singleClient in allClients %}
                                    {% if client is defined and client and client.getId() is defined and client.getId() and client.getId() == singleClient.getId() %}
                                        <option selected value="{{ singleClient.getId() }}">{{ singleClient.getName() }}</option>
                                    {% else %}
                                        <option value="{{ singleClient.getId() }}">{{ singleClient.getName() }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <option value="NULL">No Clients Found</option>
                            {% endif %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-md btn-primary font-weight-bold text-uppercase font-weight-bold">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}